.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
  background-color: #fff;
  padding-left: 20px;

  .navbar-brand {
    width: 280px;
    line-height: 1;
    color: #012970;
    font-style: italic;
  }

  .toggle-sidebar-btn {
    font-size: 28px;
    padding-left: 0.5rem;
    cursor: pointer;
    color: #012970;
  }

  .header-nav {
    >ul {
      margin: 0;
      padding: 0;
    }

    .nav-item {
      list-style-type: none;
    }

    .nav-profile {
      color: #012970;
    }

    .nav-profile img {
      border: 1px solid lightgray;
      max-height: 50px;
    }
  }

}

a {
  color: #4154f1;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 250px;
  z-index: 996;
  transition: all 0.3s;
  padding: 2rem 0 10rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgb(1 41 112 / 10%);
  background-color: #F2F2F2;

  &.sidebar-nav-collapsed {
    width: 80px;
  }

  .sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;

    .nav-item {
      margin-bottom: 5px;

      &:hover {
        background-color: white;
      }

      &.active {
        background-color: white;
      }
    }

    li {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .nav-link {
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 600;
      // color: #4154f1;
      transition: 0.3;
      // background: #f6f9ff;
      padding: 10px 15px;
      border-radius: 4px;

      i {
        font-size: 16px;
        margin-right: 10px;
        color: #4154f1;
      }

      &.collapsed {
        color: #012970;
        background: #fff;

        i {
          color: #899bbd;
        }
      }

      .bi-chevron-down {
        margin-right: 0;
        transition: transform 0.2s ease-in-out;
      }

      &:hover {
        i {
          color: #4154f1;
        }
      }

      &:not(.collapsed) .bi-chevron-down {
        transform: rotate(180deg);
      }
    }

    .nav-content {
      padding: 5px 0 0 0;
      margin: 0;
      list-style: none;

      a {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        color: #012970;
        transition: 0.3;
        padding: 10px 0 10px 40px;
        transition: 0.3s;

        i {
          font-size: 6px;
          margin-right: 8px;
          line-height: 0;
          border-radius: 50%;
        }
      }
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    padding: 2px 0;
    background-color: #555555;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #c7c7c7;
  }
}

.maincontent {
  margin-top: 60px;
  margin-left: 250px;
  padding: 2rem;

  &.sidebar-nav-collapsed {
    margin-left: 80px;
  }

}

.footer {
  margin-left: 250px;

  &.sidebar-nav-collapsed {
    margin-left: 80px;
  }
}