.authframe {
  height: 100vh;

  .signup-content {
    height: 100%;

    .left-panel {
      background-color: #002060;
    }

    .left-panel {
      .brand {
        font-family: 'Poppins';
        font-size: 26px;
        font-weight: bold;
        color: white;
        padding: 3rem 2rem;
      }
    }

    .right-panel {
      .hr-area {
        position: relative;

        .hr-area-context {
          font-size: 16px;
          position: absolute;
          top: -15px;
          background-color: white;
          padding: 0.25rem 1rem;
        }
      }

      .or-separator {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 4px;

        .or-text {
          font-size: 1rem;
          line-height: 1.42857;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.6);
          margin: 0 12px;
          white-space: nowrap;
        }
      }

      .or-separator::after,
      .or-separator::before {
        content: "";
        width: 50%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }
}